/* HERO_SHIP_EMBED */
.home2-hero {
  background-image: url("/home-hero.jpg");
  background-size: cover;
  background-position: center 40%;
}
.home2-hero img {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
}
/* END_HERO_SHIP_EMBED */
